<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top" v>
    <div class="container">
        <a href="/#" class="navbar-brand">
            <img
                class="navbar-brand"
                src="/images/web_icon.svg"
                alt=""
                height="36"
            />Roomscape
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Navigation
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/#howitworks"
                                >How It Works</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/#questionnaire"
                                >Questionnaire</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/#questions">FAQ</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/#aboutus"
                                >About us</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/guide" class="nav-link">Guide</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-primary btn-ml">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
